body {
    margin: 0;
    padding: 41px 75px;
    height: 100vh;
    background-color: #161226;
    color: white;
    font-family: "Questrial", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.faq-link {
    width: 100%;
    display: block;
    text-align: left;
    z-index: 999;
    cursor: pointer;
}

.faq-link a {
    color: #c2bdcb;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
}

.faq-link a:hover {
    text-decoration: underline;
}

.logo img {
    width: 165px;
    height: 130px;
    margin-top: 14px;
    margin-right: 8px;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
    image-rendering: auto;
}

h2 {
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
    margin-top: 27px;
    margin-bottom: 5px;
    text-align: center;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    color: #c2bdcb;
    margin-bottom: 93px;
}

.description .first {
    margin-right: 4px;
    margin-top: 6px;
}

.description .secondary {
    margin: 0;
    margin-top: 4px;
    line-height: 1;
}

.second {
    margin-top: -20px;
}

.store-buttons {
    margin-right: 3px;
    display: flex;
    gap: 27px;
}

.store-buttons img {
    width: 218px;
    height: 54px;
    object-fit: contain;
    cursor: pointer;
}

.background-circle {
    position: fixed;
    width: 400px;
    height: 400px;
    background-size: 100% 100%;
}

.circle-left {
    bottom: 150px;
    left: -150px;
    z-index: -9999999;
}

.circle-right {
    top: -150px;
    right: -100px;
    z-index: -9999999;
}

.background-circle {
    position: fixed;
    width: 400px;
    height: 400px;
    background-size: 100% 100%;
}

.circle-left {
    bottom: 160px;
    left: -155px;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20410%20410%22%3E%3Cg%3E%3Cdefs%3E%3CradialGradient%20id%3D%22idss11196725724_1g-2069340292%22%20cy%3D%220.5%22%20cx%3D%220.5%22%20r%3D%220.5%22%20gradientTransform%3D%22translate(0.5%2C%200.5)%20scale(1%201)%20translate(-0.5%2C%20-0.5)%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22rgba(255%2C%200%2C%20153%2C%200.37)%22%20stop-opacity%3D%220.37%22%3E%3C%2Fstop%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22rgba(255%2C%200%2C%200%2C%200)%22%20stop-opacity%3D%220%22%3E%3C%2Fstop%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3Cpath%20d%3D%22M%20201%200%20C%20312.009%200%20402%2089.991%20402%20201%20C%20402%20312.009%20312.009%20402%20201%20402%20C%2089.991%20402%200%20312.009%200%20201%20C%200%2089.991%2089.991%200%20201%200%20Z%22%20fill%3D%22url(%23idss11196725724_1g-2069340292)%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.circle-right {
    top: -150px;
    right: -100px;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20410%20410%22%3E%3Cg%3E%3Cdefs%3E%3CradialGradient%20id%3D%22idss11711836158_1g-739207416%22%20cy%3D%220.5%22%20cx%3D%220.5%22%20r%3D%220.5%22%20gradientTransform%3D%22translate(0.5%2C%200.5)%20scale(1%201)%20translate(-0.5%2C%20-0.5)%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22rgba(17%2C%200%2C%20255%2C%200.37)%22%20stop-opacity%3D%220.37%22%3E%3C%2Fstop%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22rgba(72%2C%200%2C%20255%2C%200)%22%20stop-opacity%3D%220%22%3E%3C%2Fstop%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3Cpath%20d%3D%22M%20201%200%20C%20312.009%200%20402%2089.991%20402%20201%20C%20402%20312.009%20312.009%20402%20201%20402%20C%2089.991%20402%200%20312.009%200%20201%20C%200%2089.991%2089.991%200%20201%200%20Z%22%20fill%3D%22url(%23idss11711836158_1g-739207416)%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}


.heading {
    height: 80px;
    margin-bottom: 58px;
}

.heading h1 {
    margin-top: 22px;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -2.6px;
}

.accordion {
    width: 100%;
    max-width: 1000px;
}

.ques {
    font-weight: 600;
}

.accordion-item:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accordion-item:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.accordion-item {
    background-color: #1d1830;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.accordion-header span {
    font-size: 16px;
    font-weight: 600;
}

.icon {
    width: 16px;
    height: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon::before,
.icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #615e6f;
    transition: transform 0.3s ease;
}

.icon::before {
    transform: rotate(0deg);
}

.icon::after {
    transform: rotate(90deg);
}

.accordion-body {
    max-height: 0;
    padding: 0 20px;
    margin-bottom: -10px;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-align: left;
    color: #ffffff80;
    margin-bottom: 10px;
}

.accordion-body p {
    font-size: 16px;
    font-weight: 600;
    color: #8e8c98;
    margin-top: -15px;
    text-align: left;
}

.accordion-item.active .accordion-body {
    max-height: 500px;
}

.accordion-item.active .icon::before {
    transform: rotate(45deg);
}

.accordion-item.active .icon::after {
    transform: rotate(135deg);
}

#dynamicCircle {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20320%20320%22%3E%3Cg%3E%3Cdefs%3E%3CradialGradient%20id%3D%22idss9440166731_1g1763961616%22%20cy%3D%220.5%22%20cx%3D%220.5%22%20r%3D%220.5%22%20gradientTransform%3D%22translate(0.5%2C%200.5)%20scale(1%201)%20translate(-0.5%2C%20-0.5)%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22rgba(140%2C%200%2C%20255%2C%200.25)%22%20stop-opacity%3D%220.25%22%3E%3C%2Fstop%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22rgba(140%2C%200%2C%20255%2C%200)%22%20stop-opacity%3D%220%22%3E%3C%2Fstop%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3Cpath%20d%3D%22M%20160%200%20C%20248.366%200%20320%2071.634%20320%20160%20C%20320%20248.366%20248.366%20320%20160%20320%20C%2071.634%20320%200%20248.366%200%20160%20C%200%2071.634%2071.634%200%20160%200%20Z%22%20fill%3D%22url(%23idss9440166731_1g1763961616)%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-size: 100% 100%;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

@media (max-width: 768px) {
    .faq-container {
        padding: 0;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .main {
        margin-bottom: 30px;
    }

    .accordion-header span {
        font-size: 14px;
    }

    .ques {
        width: 90%;
    }

    .logo {
        margin-bottom: -3px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .accordion-body p {
        font-size: 14px;
    }

    body {
        padding: 41px 29px;
    }

    .container {
        padding: 40px 30px;
    }

    .faq-link {
        text-align: right;
    }

    .container h2 {
        font-size: 30px;
    }

    .description {
        line-height: 22px;
        font-size: 18px;
    }

    .store-buttons {
        flex-direction: column;
        margin: 0;
    }

    .circle-left {
        bottom: -130px;
        left: -190px;
    }

    .circle-right {
        top: -170px;
        right: -150px;
    }

    .android {
        margin-top: -20px;
    }

    .secondary {
        display: inline;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .heading h1 {
        font-size: 32px;
        margin-bottom: 22px;
    }

    .accordion {
        text-align: left;
        line-height: 1.5;
    }

    .accordion-header {
        padding: 24px;
    }

    .accordion-header span {
        font-size: 16px;
    }

    .icon {
        width: 14px;
        height: 14px;
    }

    .accordion-body p {
        font-size: 14px;
    }
}